<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688287932029-0k2t4nu2la478bnc4198ot83823j86j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688287932029-0k2t4nu2la478bnc4198ot83823j86j1</string>
	<key>API_KEY</key>
	<string>AIzaSyDuA2zNLsmYmvQ--MET_7rFVm_yM8dz7pU</string>
	<key>GCM_SENDER_ID</key>
	<string>688287932029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mbappfinal</string>
	<key>PROJECT_ID</key>
	<string>starwar-e2c2d</string>
	<key>STORAGE_BUCKET</key>
	<string>starwar-e2c2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688287932029:ios:a6ec115c7312c54974db14</string>
</dict>
</plist>